<h1>Nos quizz en vedette</h1>

<div *ngIf="quizs" class="grid grid-cols-4 gap-4 m-5">


  <div class="max-w-xs rounded overflow-hidden shadow-lg" *ngFor="let quiz of quizs">
    <img *ngIf="!quiz.urlImg" src="../../../assets/quizzy_logo.png" alt="Default Image" width="auto" height="auto">
    <img *ngIf="quiz.urlImg" [src]="quiz.urlImg" alt="Image" width="auto" height="auto">
  

    <div class="px-6 py-4">
      <div class="font-bold text-lg mb-2">
        <a [routerLink]="['/quiz', quiz.id]">{{quiz.title}}</a>
      </div>
      <p class="text-gray-700">
        {{quiz.description}}
      </p>
    </div>
   
  </div>

</div>