.bg-white{
    color:#000!important;
    background-color: #fff!important;
}

.border {
    border: none;
}

.search-icon{
    outline: none;
}

.people-logo {
    color: #B1BFEB;
    outline: none!important;
}